/*======================
base element styles
========================*/
* {
  box-sizing: border-box;
}

body {
  display: inline;
  text-align: center;
  color: black;
  background-color: #4abdac;
  font-family: 'Ubuntu', sans-serif;
}

header,
footer {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 10px 0;
  background-color: white;
}

p {
  margin: 20px 10px;
}

img {
  width: 100%
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fc4a1a;
}

hr {
  width: 90%;
  border: 1px solid black;
}

/* ================
base layout styles
=====================*/

/* ---intro--- */
.intro {
  margin: 30px 0;
}

.profile-img {
  width: 70%;
}

/* ---portfolio--- */
.portfolio {
  padding: 30px 0;
  background-color: white;
}

.project {
  margin: 15px;
}

/* ---contact--- */
.contact {
  margin: 60px auto;
  max-width: 500px;
}

footer {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

footer .name {
  float: left;
  margin: 1rem;
}

footer ul {
  display: none ;
}

.back-top {
  float:right;
  margin: 1.125rem;
}

/*========================
media queries
==========================*/
@media (min-width: 768px) {
  header {
    margin-top: 50px;
  }

  li {
    display: inline;
    background-color: transparent;
  }

  .intro {
    margin: 30px;
  }

  .profile-img {
    float: right;
  }

  .about {
    float: left;
    width: 395px;
    text-align: left;
    font-size: 1.1rem;
  }

  .profile-img {
    width: 290px;
  }

  .project-group {
    margin: 20px;
  }

  .project {
    width: 45%;
    margin: 1rem;
  }

  .desktop1,
  .desktop2 {
    float: left;
  }

  footer .name {
  	float: left;
  }

  footer ul {
    display: inline;
    float: right;
  }

  .back-top {
    display: none;
  }

  /* clearfix */
  .clearfix::after {
    display: table;
    clear: both;
    content: "";
  }
}

@media (min-width:1024px) {

  .container {
    max-width: 910px;
    margin: 0 auto;
  }

  .name {
    float: left;
  }

  .main-nav {
    float: right;
  }

  li {
    display: inline-block;
  }

  .about {
    float: left;
    width: 50%;
    font-size: 1.1rem;
  }

  .profile-img {
    float: right;
    width: 370px;
    margin: 20px;
  }

  .project {
    width: 31%;
    margin: 10px;
  }

  hr {
    max-width: 890px;
  }

  .contact {
    margin: 60px auto;
  }

  footer .name {
  	padding: 26px;
  }
}
